@font-face {
    font-family: sfpro;
    src: url("../../assets/fonts/SFProDisplay-Regular.ttf");
   } 

html {
 box-sizing: border-box;
 font-size: 10px;
}



body, ul, li {
 margin: 0;
 padding: 0;
}

li {
 list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
 margin-top: 0;
}

a {
 text-decoration: none;
}

input {
 border-style: none;
 background: transparent;
 outline: none;
}

a {
 padding: 0;
 background: none;
 border: none;
 outline: none;
}

body {
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 background-color: #111;
}


a.demo {
 text-align: center;
 font-size: 1.6rem;
 font-weight: normal;
 color: rgba(202, 205, 239, 0.8);
 margin-bottom: 3rem;
}


.container {
 display: -webkit-box;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
         flex-direction: column;
 height: 100vh;
 max-width: 100vw;
 padding: 0 3%;
 margin: 0 auto;
}

@-webkit-keyframes gradient {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: 100% 0;
 }
}

@keyframes gradient {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: 100% 0;
 }
}
.webflow-style-input {
  margin-top: 20%;
 position: relative;
 display: -webkit-box;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
         flex-direction: row;
 width: 80vw;
 margin: 0 auto;
 margin-top:10%;
 padding: 3rem 2rem 1.6rem;
 background: rgba(248, 248, 248, 0.8);
}
.webflow-style-input:after {
 content: "";
 position: absolute;
 left: 0px;
 right: 0px;
 bottom: 0px;
 z-index: 999;
 height: 2px;
 border-bottom-left-radius: 2px;
 border-bottom-right-radius: 2px;
 background-position: 0% 0%;
 background: rgba(248, 248, 248, 0.8);
 background-size: 500% auto;
}

.webflow-style-input input {
 -webkit-box-flex: 1;
         flex-grow: 1;
 color: #000000;
 margin-top: 1vh;
 font-size: 4vh;
 line-height: 2.4rem;
 vertical-align: middle;
}
.webflow-style-input input::-webkit-input-placeholder {
 color: #000000;
}

.webflow-style-input button {
 font-size: 2.4rem;
 line-height: 2.4rem;
 vertical-align: middle;
 background: none;
 border: none;
}
.webflow-style-input button:hover {
  color: white;
  cursor: pointer;
}
button:focus{background: none;
  border: none;
  outline:0;}

  .webflow-style-input label {
    position: absolute;
    margin-top: -6px;
}
#reparar{
  margin-top: 20%;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}
#reparar button{
  text-decoration: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display:block;
  font-size: 7vh;
  font-family: sfpro;
  text-align: center;
  
  height: 10vh;
  width: 86vw;
  background-color: #111;
  border: 3px solid #39AEA2;
  color: white;  
  font-family: sfpro;
  
}
#reparar button:hover{
  cursor: pointer;
  background-color: #39AEA2;

  
}

#confirmacao{
  margin-top:3%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
visibility: collapse;

}
#confirmacao p{
font-family: sfpro;
font-size: 4vh;
text-align: center;
color: #FAFAFA;
padding-top: 0%;
padding-bottom: 0%;
margin-top: 1%;
margin-bottom: 1%;

}
#botoesconfirmar{
  display: flex;
  justify-content: center;
}
#botoesconfirmar button{
  text-decoration: none;
  display:block;
  font-size: 7vh;
  font-family: sfpro;
  text-align: center;
  
  height: 10vh;
  width: 10vw;
  background-color: #111;
  border: 3px solid #39AEA2;
  color: white;  
  font-family: sfpro;
  
}
#botoesconfirmar button:hover{
  cursor: pointer;
  background-color: #39AEA2;

  
}
#yes{
margin-right: 10vw;


}
#no{
margin-left: 10vw;


}