@font-face {
    font-family: sfpro;
    src: url("../../assets/fonts/SFProDisplay-Regular.ttf");
   } 
   @keyframes zulanimation {
    0%   {padding-top:10%}
    50%  {padding-top: 11%}
    100% {padding-top:10%}
  }
  
#container{
    background-color: #FAFAFA;
    border-radius: 4%;
    width: 100%;
    height: 100vh;
}
.img{
    height: 40vh;
}
.img img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  animation-name: zulanimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
body{
    margin: 0 auto;
    height: 100%;
}
#container p{
    color: black;
    font-size: 5vh;
    text-align: center;
    font-family: sfpro;
}
#container a{
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    display:block;
    font-size: 7vh;
    font-family: sfpro;
    padding-top: 1vh;
    text-align: center;
    height: 10vh;
    width: 30vh;
    border-radius: 10vh;
    background-color: #39AEA2;
    border: 1px solid #39AEA2;
    color: white;  
    font-family: sfpro;
}
#container a:hover{

    background-color: #339087;
    border: 1px solid #339087;
}
