/* 
* Nouveau CSS
* Created: llucmou and Jvneto
* Created at 23/09/2020
*/

.top-alert-container{
  width: 100%;
}

.top-alert {
  width: 100%;
  padding: 12px 60px 12px 12px;
  margin: 0;
}

.top-alert-stack {
  width: 100%;
  padding: 10px 60px 10px 10px;
  margin: 0;
  position: absolute;
}

.container-alert-absolute {
  width: 100%;
  border: none;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.alert-dismissible-top {
  padding-right: 3rem;
}

.alert-dismissible-top .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0.9rem 0.9rem;
}

