/* 
* Nouveau CSS
* Created: llucmou and Jvneto
* Created at 23/09/2020
*/

/* Settings */
@font-face {
  font-family: sfpro-regular;
  src: url('../../assets/fonts/SFProDisplay-Regular.ttf');
}

@font-face {
  font-family: sfpro-light;
  src: url('../../assets/fonts/SFProDisplay-Light.ttf');
}

@keyframes top-down {
  0% {
    padding-top: 2%;
  }
  50% {
    padding-top: 3%;
  }
  100% {
    padding-top: 2%;
  }
}

/* Global variables */
:root {
  --sidebar-size: 90px;
  --topbar-size: 0px;
  --progress-background: rgba(255, 255, 255, 0.3);
  --main: #2fa9c1;
  --alt: var(--info);
  --sidebar-bg: #131313;
  --topbar-bg: #101010;
  --border: #414141;
  --card: #181818;
  --body: #171717;
  --body-text: #fcfcfc;
  --backdrop: #000000;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'sfpro-regular', sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: var(--body-text);
}

body {
  background-color: var(--sidebar-bg);
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.container-logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.container-logo .logo {
  opacity: 1;
  height: 80px;
  display: block;
}

.backdrop {
  position: absolute;
  z-index: -1;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.text_info_footer {
  font-size: 15px;
}

.text-rainbow {
  background: linear-gradient(
    90deg,
    rgba(250, 119, 65, 1) 0%,
    rgba(251, 94, 66, 1) 12%,
    rgba(246, 85, 87, 1) 18%,
    rgba(240, 73, 112, 1) 27%,
    rgba(224, 68, 142, 1) 35%,
    rgba(211, 64, 167, 1) 43%,
    rgba(180, 67, 180, 1) 50%,
    rgba(155, 69, 191, 1) 58%,
    rgba(125, 72, 202, 1) 65%,
    rgba(100, 74, 212, 1) 73%,
    rgba(75, 107, 222, 1) 80%,
    rgba(55, 132, 230, 1) 87%,
    rgba(41, 152, 236, 1) 92%,
    rgba(22, 177, 244, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}
