/* 
* Nouveau CSS
* Created: llucmou and Jvneto
* Created at 23/09/2020
*/

/* Settings */
@font-face {
  font-family: sfpro-regular;
  src: url('../../assets/fonts/SFProDisplay-Regular.ttf');
}

@font-face {
  font-family: sfpro-light;
  src: url('../../assets/fonts/SFProDisplay-Light.ttf');
}

@keyframes top-down {
  0% {
    padding-top: 2%;
  }
  50% {
    padding-top: 3%;
  }
  100% {
    padding-top: 2%;
  }
}

/* Global variables */
:root {
  --sidebar-size: 90px;
  --topbar-size: 0px;
  --progress-background: rgba(255, 255, 255, 0.3);
  --main: #2fa9c1;
  --alt: var(--info);
  --sidebar-bg: #131313;
  --topbar-bg: #101010;
  --border: #414141;
  --card: #181818;
  --body: #19253a;
  --body-text: #fcfcfc;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'sfpro-regular', sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: var(--body-text);
}

body {
  background-color: #171717;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  opacity: 1;
  height: 2rem;
  display: block;
}

.backdrop {
  position: absolute;
  z-index: -1;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.input {
  border: 1px solid #00aac4 !important;
}
.text-link {
  text-decoration: none;
  color: #00aac4;
}
.text-link:hover {
  text-decoration: none;
  color: rgb(0, 112, 129);
}
.btn-entrar {
 background-color: #00aac4;
  color: white;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-entrar:hover {
  background-color: #00aac4;
  color: white;
}

.text_info_footer {
  font-size: 15px;
}

.bg-sbotics {
  background-color: #09839C !important;
}

.outline-sbotics {
  border: 1px solid #09839C !important;
}
.outline-sbotics:hover {
  background-color: rgb(0, 112, 129);
  color: white;
}
