/* 
* Nouveau CSS
* Created: llucmou and Jvneto
* Created at 23/09/2020
*/

::-webkit-scrollbar {
  width: 6px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 54, 54);
}

:root {
  --progress: 0%;
}
